/* CSS declarations go here */

.movieList{
	width:600px;
	float: left;
}

.movieDetails{
	margin: 20px;
}

.movieRow{
	margin: 10px;
	border:#ccc solid 1px;
}

.movieTitle{
	font-weight: bold;
}

.movieRow.yesGoing{
	background-color: #0c0;
}

.movieRow.maybeGoing{
	background-color: #cc0;
}

.movieRow.noGoing{
	background-color: #ccc;
}

.movieRow.isClashing{
	border: solid 2px #f00;
}

.movieRowDetails .description{
overflow: hidden;
}

.btn.chosen{
	background-color: #f4f;
}

.hidden{
	display: none;
}

#listLocumn #detailsCo{
	float:left;
}

#map{
	margin:20px;
}
