<template name="home">
    <div class="page-wrapper row">
        <p>
            Welcome to the Film Festival planner.
        </p>
        <p>
            This is a site to help you plan which movies to see at the Stockholm Film Festival.
            You can mark the films you want to see, get directions for going between venues. You can invite friends to share your schedule, comment on the films, coordinate meetups and more.
        </p>

        <p>
            I hope you enjoy your stay and share the fun.
        </p>

        <p>If you like this site or even if you don't, <a href="/about">let me know <i class="fa fa-comment"></i></a>, I'd love to hear from you. </p>
    </div>
</template>