<template name="movies">
    <div id="pageWrapper" class="row movielist-wrapper max-height no-overflow"> 
    	{{#if isCompressed}}
        is compressed
    		{{#if isMovie}}
    			{{> movieDetails}}
    		{{else}}
    			{{> movieList}}
    		{{/if}}
    	{{else}}
        is not compressed
            <div class=" max-height">
                 <div id="listColumn" class="col-md-6 col-sm-6 col-xs-6 scrollable">
                    {{> movieList}}
                </div>
                <div id="movie-details-column" class="col-md-6 col-sm-6 col-xs-6 scrollable">
                    {{> movieDetails}}
                </div>   
            </div>
	        
    	{{/if}}
    </div>
</template>
