/**********************
****** Variables ******
***********************/


@white: #FFF;
@off-white: #DADADA;
@light-red: #9C1C00;
@red-base: #600;
@grey: #A5A5B5;
@black: #000;

@base: @red-base;
@base-light: lighten(@base, 25%);

@clashing: @red-base;
@not-going: #C2C2C2;
@maybe-going: #B4AD00;
@going: #00A500;

@font-color:#333;

@pageMargin: 20px;

@extraSmall-min: 300px;
@small-min: 530px; 
@mid-min: 720px;
@large-min: 1080px;


/**********************
******* Mix-ins *******
***********************/

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}



.inset-box-shadow (@x: 0px, @y: 3px, @blur: 5px, @spread: 5px, @color: rgb(0,0,0),  @alpha: 0.5) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(red(@color), green(@color), blue(@color), @alpha);
    -moz-box-shadow: inset @x @y @blur @spread rgba(red(@color), green(@color), blue(@color), @alpha);
    box-shadow: inset @x @y @blur @spread rgba(red(@color), green(@color), blue(@color), @alpha);
}


.gradient(@start-color, @end-color){
@start-rgba: rgba(red(@start-color), green(@start-color), blue(@start-color), 1);
@end-rgba: rgba(red(@end-color), green(@end-color), blue(@end-color), 1);


background: @start-color; /* Old browsers */
background: -moz-linear-gradient(top,  @start-rgba 1%, @end-rgba 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,@start-rgba), color-stop(100%,@end-rgba)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  @start-rgba 1%,@end-rgba 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  @start-rgba 1%,@end-rgba 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  @start-rgba 1%,@end-rgba 100%); /* IE10+ */
background: linear-gradient(to bottom,  @start-rgba 1%,@end-rgba 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@start-color', endColorstr='@end-color',GradientType=0 ); /* IE6-9 */
}

.bold{
  font-weight: bold;
}


body{
	background-color: @base;
	padding-top:55px;

	padding-bottom:60px;

}

img{
  max-width:100%;
}


.glyphicon{
	&.glyphicon-ban-circle{color:@clashing}
	&.glyphicon-ok-circle{color:@going}
	&.glyphicon-question-sign{color:@maybe-going}
	&.glyphicon-remove-sign{}
}

.navbar{
	background-color: darken(@base, 5%);
	border-color: darken(@base, 10%);

	.navbar-brand{
		color: #DADADA;
	}

	.navbar-nav > li > a{
		color:#DADADA;
	}

	.navbar-nav > .active > a, 
	.navbar-nav > .active > a:hover, 
	.navbar-nav > .active > a:focus{
		background-color: darken(@base, 10%);
	}

}

.login-wrapper{
	margin-right: 25px;
	margin-top:8px;
}

.login-btn{
	background-color: #C0C0C0;
}



#pageWrapper{
	margin-left: @pageMargin;
	margin-right: @pageMargin;
}

.movieList{
}

.movieDetails{
	margin-top: 20px;
	margin-bottom: 20px;
}

.movieTitle{
	font-weight: bold;
}

.movieRow{
	margin: 10px;
	border:#ccc solid 1px;
	background-color: darken(@white, 10%);
	.rounded-corners;
	.box-shadow(5px, 5px, 6px, 0.3);
	.inset-box-shadow(0,0, 10px, 0.3);

	&.is-selected{
		background-color: @white;
	}

	&.not-selected:hover{
		background-color: @white;
	}

	&.yes-going{
		/*background-color: @going;
		border: darken(@going, 10%) solid 2px;
		.gradient(#D4FDD0, #FFF);
		*/
		

		&.is-clashing{
			
		}
	}
	&.yes-going:hover{}
	&.maybe-going{}
	&.maybe-going:hover{}

	&.no-going{
		background-color: @not-going;
		color: lighten(@font-color, 30%);

		.extra-movie-row-details{
			display:none;	
		}
	}
	&.no-going.not-selected:hover{
		background-color: darken(@not-going, 5%);
	}
	&.is-clashing{}

	.more, .less{
		
		.dashed{
			border-top: 1px solid black;
		    content: " ";
		    top: 0.7em;
		}
	}

}

.dateHandle{
  height: 15px;
  a, a:hover{
	color: @off-white;
  }


  .nextDate{

  }

  clear: both;
}

.menuTrigger{
  background: @off-white;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  padding: 1px 3px 0px 2px;
  border-radius: 0 3px 3px 0;
  z-index: 1000;

}

.movieRowDetails {
	.description{
		overflow: hidden;
	}
}

.btn.chosen{
	background-color: #f4f;
}

.hidden{
	display: none;
}

.details-column{
	background-color: @white;
	margin-top: 10px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	.rounded-corners;
	.box-shadow(5px, 5px, 6px, 0.3);
	.inset-box-shadow(0,0, 20px, 5px);
	
}

#map{
	margin:20px;
}

.comment{
	margin-top: 10px;
	margin-bottom: 10px;
}

.comment-post-body{
	height:100px;
	margin: 10px 0;
}

.coment-content{
	background: #F2F3F2;
	border: 1px solid @grey;
	padding:20px;
	.box-shadow(3px, 3px, 6px, 0.3);

}

.comment-header{
	margin-top: 20px;
	padding-left: 30px;
}

#profile-wrapper, #schedule-wrapper, #admin-wrapper, .page-wrapper{
	margin: 10px 20px 10px;
	padding: 20px;
	background-color: @white;
	min-height: 400px;
	.rounded-corners;
	.box-shadow(5px, 5px, 6px, 0.3);
	.inset-box-shadow(0,0, 20px, 5px);
}

.message-wrapper{
	background: #F2F3F2;
	border: 1px solid @grey;
	padding:20px;
	margin-top: 10px;
	.box-shadow(3px, 3px, 6px, 0.3);
}

.message-wrapper.unread{
	background: #D7E8FF;
}

.message-form-trigger{
  width:150px;
  cursor:pointer;
  text-align: center;
  background-color: @grey;
  .rounded-corners(3px);
}

/******************************
******* Move Details *******
*******************************/
.movie-details-map{
	padding-left: 20px;
	padding-right: 20px;
}

.movie-details-comments{
	padding-top:20px;
	padding-bottom:20px;
}

.comment-label{
	font-size: 20px; 
	font-weight: bold;
}

.rsvp-buttons{
	margin-top: 10px;
	margin-bottom: 10px;
}

.share-buttons{
	margin-top: 10px;
	margin-bottom: 10px;
}

#movie-details-going-selector-wrapper .btn-group.bootstrap-select{
	width:110px;
}

#movie-details-column{
	.description{
		margin-top: 15px;
	}
}

.otherMovieTimes{
  a:after {
	content: ', '
  }

  a:last-of-type:after {
	content:''
  }
}

/******************************
******* Schedule CSS *******
*******************************/

.mapRow{
  margin:20px 10px;

  .mapDirections{
	margin-top: auto;
	margin-bottom: auto;
  }
}


/******************************
******* Profile CSS *******
*******************************/

#profile-wrapper{
  .profileBlock{
	margin:20px;
  }

  .image{
	margin: 20px 20px 20px 15px;
  }

  .scheduleRow{
	margin:20px 0;
  }


  .formLabel{
	width:110px;
	color:black;
	display:block;
	float:left;
	font-size: 1em;
	font-weight: bold;
  }

  .formRow{

  }

  .formRow, .inviteFormRow{
	margin-top: 10px;
	margin-bottom: 10px;

	input, textarea{
	  width:300px;
	}



	.submitBtn{
	  width:410px;
	  display:block;

	  button{
		float:right;
	  }
	}
  }

  .friendList{
	margin-top:10px;
	margin-bottom: 30px;
  }

  .facebookInvite{
	margin-top: 20px;
	margin-bottom: 20px;
  }

}


.contactForm{
  margin-top: 20px;
}



#footer{
  .navbar-text{
	color:white;
	a, a:hover{
	  color:white;
	}
  }
}




/******************************
******* Conditional CSS *******
*******************************/

html.overflowable {
    height: 100%;
    overflow: hidden;
}
.overflowable{
	body{
		height: 100%;
    	overflow: hidden;
   /* 	background-color:#0F0; */
	}

	.scrollable {
	    height: 100%;
	    overflow: auto;
	}

	.max-height {
	    height: 100%;
	}

	.no-overflow {
	    overflow: hidden;
	}
}



.navbar-title{
	display: inline;
}

.movie-row-details-container{
		display: none;
	}

@media (min-width: @small-min){
	.navbar-title{
		display: none;
	}

  textarea{
	width:100%;
  }
}

@media (max-width: @small-min){


  .navbar-title{
	  display: none;
  }

  textarea{
	width:100%;
  }



  #profile-wrapper{
	.inviteFormRow, .formRow {
	  textarea, input{
		width:100%;
	  }

	  .submitBtn button{
		float:none;
	  }
	}

  }
}

@media (max-width: @mid-min){
  body{
	padding-bottom:20px;
  }

  #footer{
	display:none;
  }
}

@media (min-width: @mid-min){
	.navbar-title{
		display: inline;
	}

	.movie-row-details-container{
		display: inline;
	}

	.md-text-right{
		text-align: right;
	}


}


