<template name="about">
    <div id="about-wrapper"  class="page-wrapper scrollable">
        <p>
            I have built this website for You to enhance your film festival experience and I am interested to hear want you think of it.
            It is still a little rough about the edges so your feedback is very valuable for me to improve your user experience.
            Give me the good, the bad and the ugly, I want to know.
        </p>
        <p>
            If you really like this site and you want to use it for your festival, let me know.
        </p>
        <div class="contactForm">
            {{> contactForm }}
        </div>
    </div>
</template>