<template name="scheduleRow">
    <div class="row movieRow {{goingRowColor}} {{isClashing}} {{isSelected}}" id="{{_id}}">
        <div class="movieTime col-lg-1 col-md-1 col-sm-1 col-xs-2">{{time}}</div>
        <div class="movieTitle col-lg-8 col-md-8 col-sm-7 col-xs-10">{{name_en}}</div>
        <div class="movieCinema col-lg-3 col-md-3 col-sm-4 col-xs-12">Venue: {{cinema.name}}</div>
        <div class="movieType col-lg-4 col-md-6 col-sm-6 col-xs-12">Categories: {{movie.sectionName}}</div>
        <div class="attending col-lg-4 col-md-6 col-sm-6 col-xs-12">Total going: {{attending}}</div>
        <div class="attending  col-lg-4 col-md-6 col-sm-6 col-xs-12 ">Friends going: {{friendsAttending}}</div>
        <div class="numComments col-lg-4 col-md-6 col-sm-6 col-xs-12 ">Comments: {{numComments}}</div>
    </div>
    {{#if this.map}}
        {{> mapRow this.map}}
    {{/if}}
</template>