<template name="messageForm">
    <form>
        <div id="messageForm">
            <label for="to">To:</label>
            <input type="text" name="to" id="message-to"/>
            <label for="subject">Subject:</label>
            <input type="text" name="subject" id="message-subject"/>
            <label for="message">Message:</label>
            <input type="text" name="message" id="message-message"/>
            <input type="submit" class="btn btn-info" id="message-submit" value="Send" />
        </div>
    </form>
</template>