<template name="message">
	<div class="message-wrapper {{unread}}">
	
		<div class="message-header row">

			<div class="col-md-8 col-sm-8 col-xs-12">
                <span class="message-from col-md-8 col-sm-8 col-xs-12">From: <a href="/profile/{{from.id}}">{{from.name}}</a></span>

                <div><span class="created-ago col-xs-12">Recieved: {{createdAgo}}</span></div>

                <div class="message-header col-xs-12">
					{{subject}}
                </div>
                <div class="col-xs-12">
					{{message}}
                </div>


			</div>





			<div class="col-md-4 col-sm-4 col-xs-12 text-right">
				{{#if unread}}
					<button class="message-mark-as-read-btn btn ">Mark as read</button>
				{{else}}
					<button class="message-mark-as-unread-btn btn ">Mark as unread</button>
				{{/if}}

				<button class="message-delete-btn btn btn-danger" >Delete</button>
			</div>
			
		</div>	

	</div>
</template>