<template name="mapRow">
	<div class="">
		<div class="">You have to walk from {{origin.name}} (A) to {{destination.name}} (B)</div>
		<div class="distance">It is {{distance}}m and will take {{duration}} minutes at normal walking speed.</div>
	</div>
	<div class="map">
		<img src="//maps.googleapis.com/maps/api/staticmap?markers=color:blue%7Clabel:A%7C{{origin.coordinates.lat}},{{origin.coordinates.lng}}&amp;markers=color:red%7Clabel:B%7C{{destination.coordinates.lat}},{{destination.coordinates.lng}}&amp;size=256x256&amp;sensor=false" alt="">
	</div>
</template>
