<template name="movieRow">
{{test}}
    <div class="row movieRow {{goingRowColor}} {{isClashing}} {{isSelected}}" id="{{_id}}">
        <div class="movieTime col-md-1">{{startTime}}</div>
        <div class="movieTitle col-md-6">{{name}}</div>
        <div class="movieCinema col-md-3 text-right"><span class="">{{cinema.name}}</span></div>
        <div class="col-md-2 text-right">
			{{#if isGoingIcon}}
				<span class="glyphicon {{isGoingIcon}}"></span>
			{{/if}}
			{{#if isClashingIcon}}
			 	<span class="glyphicon {{isClashingIcon}}"></span>
			{{/if}}
		</div>

		<div class="clearfix"></div>
			
        <div class="extra-movie-row-details">
	        <div class="movieType col-md-6">Categories: {{type}}</div>
	        <div class="attending">Total going: {{attending}}</div>
	        <div class="attending">Friends going: {{friendsAttending}}</div>
	        <div class="numComments">Comments: {{numComments}}</div>
        </div>
        {{> movieRowDetails}}
    </div>
</template>