<template name="movies">
    <div id="pageWrapper" class="row movielist-wrapper max-height no-overflow">
    	{{#if isCompressed}}

    		{{#if isMovie}}
                <div class="dateHandle"><a id="simple-menu" href="#sidr">{{date}}</a></div>
    			{{> movieDetails}}
    		{{else}}
                {{debug}}
    			{{> movieList this}}
    		{{/if}}
    	{{else}}
               {{> datesMenu dates}}

            <div class=" max-height">

                <div id="listColumn" class="col-md-6 col-sm-6 col-xs-6 scrollable">
                    <div class="dateHandle"><a id="simple-menu" href="#sidr">{{date}}</a></div>

                    {{> movieList this}}
                </div>
                <div id="movie-details-column" class="col-md-6 col-sm-6 col-xs-6 scrollable">
                    {{> movieDetails}}
                </div>   
            </div>
	        
    	{{/if}}
    </div>
</template>
