<template name="movies">
    <div id="pageWrapper" class="row movielist-wrapper max-height no-overflow">
    	{{#if isCompressed}}

    		{{#if isMovie}}
    			{{> movieDetails}}
    		{{else}}
                {{> dateHandle model}}
    			{{> movieList this}}
    		{{/if}}
    	{{else}}
               {{> datesMenu 'movies'}}

            <div class=" max-height">

                <div id="listColumn" class="col-md-6 col-sm-6 col-xs-6 scrollable">
                    {{> dateHandle model}}

                    {{> movieList this}}
                </div>
                <div id="movie-details-column" class="col-md-6 col-sm-6 col-xs-6 scrollable">
                    {{> movieDetails}}
                </div>   
            </div>

            <div class="menuTrigger"><i class="fa fa-align-justify"></i></div>
        {{/if}}
    </div>
</template>
