<template name="movieRow">
    <div class="row movieRow {{goingRowColor}} {{isClashing}} {{isSelected}}" id="{{_id}}">
        <div class="movieTime col-md-1 col-sm-2 col-xs-2">{{startTime}}</div>
        <div class="movieTitle col-md-5 col-sm-5 col-xs-6">{{name}}</div>
        <div class="movieCinema col-md-4 col-sm-3 col-xs-3 text-right"><span class="">{{cinema.name}}</span></div>
        <div class="col-md-2 col-sm-2 col-xs-2 text-right">
			{{#if isGoingIcon}}
				<span class="glyphicon {{isGoingIcon}}"></span>
			{{/if}}
			{{#if isClashingIcon}}
			 	<span class="glyphicon {{isClashingIcon}}"></span>
			{{/if}}
		</div>

		<div class="clearfix"></div>
			
        <div class="extra-movie-row-details">
	        <div class="movieType col-md-6">Categories: {{type}}</div>
	        <div class="attending col-md-6">Total going: {{attending}}</div>
	        <div class="attending col-md-6">Friends going: {{friendsAttending}}</div>
	        <div class="numComments col-md-6">Comments: {{numComments}}</div>
        </div>

    </div>
</template>